.dashboard {
	background-color: #f4f5fb;
	.v-main {
		height: calc(100vh - 64px);
		overflow: auto;
		background: transparent;
		padding: 25px;
		&.main-expanded {
			margin-left: 256px;
			transition: margin-left 0.3s ease;
			width: calc(100% - 256px);
		}

		&.main-collapsed {
			margin-left: 0;
			width: 100%;
			transition: margin-left 0.3s ease;
		}
	}

	.v-navigation-drawer {
		position: relative;
		top: 0;
		height: 100%;
		background-color: #f4f5fb;
		border: none;
		.v-navigation-drawer__content {
			.v-list {
				.v-list-item {
					position: relative;
					color: #000;
					&.active {
						&:before {
							content: "";
							position: absolute;
							top: 50%;
							left: 0;
							width: calc(100% - 20px);
							height: 90%;
							background: linear-gradient(to right, rgba(#fff, 1) 0%, rgba($color1, 1) 100%);
							z-index: -1;
							border-radius: 0 30px 30px 0;
							transform: translateY(-50%);
						}
						.v-list-item__prepend {
							.v-icon {
								opacity: 1;
								color: $color2;
							}
						}
						.v-list-item__content {
							.v-list-item-title {
								font-weight: bold;
								color: $color2;
							}
						}
					}
					.v-list-item__prepend {
						.v-icon {
							margin-inline-end: 15px;
						}
					}
				}
				.v-list-subheader {
					position: relative;
					margin-top: 15px;
					&:before {
						content: "";
						position: absolute;
						top: 50%;
						left: 16px;
						width: calc(100% - 36px);
						height: 1px;
						background: rgba($color3, 0.5);
						z-index: -1;
					}
					.v-list-subheader__text {
						background: #f4f5fb;
						padding: 0 10px 0 0;
					}
				}
			}
			.v-list-group__items {
				.v-list-item {
					padding-inline-start: calc(0px + var(--indent-padding)) !important;
					position: relative;
					.v-list-item__content {
						&:before {
							content: "";
							position: absolute;
							top: 50%;
							left: 23px;
							width: 10px;
							height: 10px;
							background: transparent;
							border: 2px solid #000;
							border-radius: 50%;
							transform: translateY(-50%);
							opacity: 0.5;
						}
					}
				}
			}
		}
	}

	.v-app-bar {
		z-index: 2;
		background: transparent !important;
		&.v-toolbar {
			box-shadow: none;
			position: relative !important;
			&:not(.v-toolbar--flat) {
				box-shadow: none !important;
			}
			.v-toolbar__content {
				display: flex;
				justify-content: space-between;
				.right {
					margin-right: 10px;
					.v-badge__badge {
						width: 15px;
						min-width: 15px;
						height: 15px;
						font-size: 9px;
						border-radius: 50%;
						bottom: calc(100% - 10px);
						left: calc(100% - 10px);
					}
				}
				.v-btn {
					.v-btn__content {
						img {
							width: 30px;
							height: 30px;
							border-radius: 50%;
							margin-right: 5px;
						}
					}
				}
			}
		}
	}

	@media (max-width: 600px) {
		.v-navigation-drawer {
			width: 100% !important;
		}
	}
}

.v-overlay-container {
	.v-overlay {
		.v-overlay__content {
			.v-list {
				.v-list-item {
					.v-list-item__content {
						.v-list-item-title {
							display: flex;
							align-items: center;
							font-size: 14px;
							.v-icon {
								margin-right: 5px;
							}
						}
					}
				}
			}
		}
	}
}
