.bg-login {
	height: 100vh;
	width: 100%;
	background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
	overflow: hidden;

	@function multiple-box-shadow($n) {
		$value: "#{random(2000)}px #{random(2000)}px #FFF";
		@for $i from 2 through $n {
			$value: "#{$value} , #{random(2000)}px #{random(2000)}px #FFF";
		}

		@return unquote($value);
	}
	$shadows-small: multiple-box-shadow(700);
	$shadows-medium: multiple-box-shadow(200);
	$shadows-big: multiple-box-shadow(100);

	.stars {
		width: 1px;
		height: 1px;
		background: transparent;
		box-shadow: $shadows-small;
		animation: animStar 50s linear infinite;
		&:after {
			content: " ";
			position: absolute;
			top: 2000px;
			width: 1px;
			height: 1px;
			background: transparent;
			box-shadow: $shadows-small;
		}
		&:nth-child(2) {
			width: 2px;
			height: 2px;
			background: transparent;
			box-shadow: $shadows-medium;
			animation: animStar 100s linear infinite;
			&:after {
				content: " ";
				position: absolute;
				top: 2000px;
				width: 2px;
				height: 2px;
				background: transparent;
				box-shadow: $shadows-medium;
			}
		}
		&:nth-child(3) {
			width: 3px;
			height: 3px;
			background: transparent;
			box-shadow: $shadows-big;
			animation: animStar 150s linear infinite;
			&:after {
				content: " ";
				position: absolute;
				top: 2000px;
				width: 3px;
				height: 3px;
				background: transparent;
				box-shadow: $shadows-big;
			}
		}
	}

	@keyframes animStar {
		from {
			transform: translateY(0px);
		}
		to {
			transform: translateY(-2000px);
		}
	}

	.login-section {
		position: relative;
		height: 100vh;
		width: 100%;
		overflow: hidden;
		.login-form {
			width: 100%;
			max-width: 345px;
			.login-card {
				height: 100%;
				min-height: 50vh;
				padding: 25px;
				box-shadow: 2.3px 2.3px 1.9px rgba(255, 255, 255, 0.031), 5.4px 5.4px 4.3px rgba(255, 255, 255, 0.045), 9.7px 9.7px 7.7px rgba(255, 255, 255, 0.055), 16.1px 16.1px 12.8px rgba(255, 255, 255, 0.065), 26.5px 26.5px 21.2px rgba(255, 255, 255, 0.075), 46.2px 46.2px 37px rgba(255, 255, 255, 0.089), 100px 100px 80px rgba(255, 255, 255, 0.12);
				border-radius: 8px;
				.login-img {
					height: 50px;
				}
				.v-input__control {
					.v-field {
						font-size: 13px;
						color: $color3;
						&:hover {
							color: $color2;
						}
					}
				}
				.v-input__details {
					padding: 0 !important;
					font-size: 8px;
					min-height: 0;
					.v-messages {
						min-height: 0;
						margin: 5px 0 10px;
					}
				}
				.v-card-text {
					.text-caption {
						color: $color2;
					}
				}
				.v-card-actions {
					padding: 0;
					.btn-login {
						background: $color1;
						width: 100%;
						color: $color2;
						font-weight: 800;
						&.login-socmed {
							display: block;
							background: transparent;
							border: 1px solid rgba($color3, 0.09);
							font-weight: bold;
							font-size: 13px;
							.v-btn__content {
								letter-spacing: normal;
								text-transform: capitalize;
								.login-socmed_image {
									height: 20px;
									width: 20px;
									margin-right: 8px;
								}
							}
						}
					}
				}
				.separator {
					position: relative;
					z-index: 2;
					display: block;
					text-align: center;
					span {
						color: rgba($color3, 0.5);
						background: #fff;
						padding: 3px 6px;
					}
					margin: 8px 0;
					&::before {
						content: "";
						position: absolute;
						z-index: -1;
						top: 50%;
						left: 0;
						width: 100%;
						height: 1px;
						background-color: rgba($color3, 0.09);
					}
				}
			}
		}
	}
}
