/* src/assets/styles.scss */

// Import variabel, mixin, atau library SCSS jika diperlukan
@import "color";
@import "components";
@import "login";
@import "dashboard";

// Tulis styling global Anda di sini
body {
	font-family: "Arial", sans-serif;
	.v-container {
		margin: 0 !important;
		padding: 0 !important;
		max-width: 100% !important;
	}
}
