<template>
  <v-card prepend-icon="mdi-creation" subtitle="The #1 Template" width="100%">
    <template v-slot:title>
      <span class="font-weight-black">Selamat Datang Salsa Template</span>
    </template>

    <v-card-text class="bg-surface-light pt-4">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, ratione debitis quis est labore voluptatibus! Eaque cupiditate minima, at placeat totam, magni doloremque veniam neque porro libero rerum unde voluptatem!
    </v-card-text>
  </v-card>
</template>