<template>
    <v-row>
        <v-col sm="6">
            <v-card class="pa-5" width="100%" title="User Registration">
                <v-container>
                    <v-text-field v-model="first" color="primary" label="First name" variant="outlined"></v-text-field>
                    <v-text-field v-model="last" color="primary" label="Last name" variant="outlined"></v-text-field>
                    <v-text-field v-model="email" color="primary" label="Email" variant="outlined"></v-text-field>
                    <v-text-field v-model="password" color="primary" label="Password" placeholder="Enter your password" variant="outlined"></v-text-field>
                    <v-checkbox v-model="terms" color="secondary" label="I agree to site terms and conditions"></v-checkbox>
                </v-container>

                <v-divider></v-divider>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="success">
                        Complete Registration
                        <v-icon icon="mdi-chevron-right" end></v-icon>
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-col>
        <v-col sm="6">
            <v-card class="pa-5" width="100%" title="User Registration">
                <v-container fluid>
                    <v-row>
                        <v-col lg="4">
                            <v-list-subheader>Prefix for dollar currency</v-list-subheader>
                        </v-col>
                        <v-col lg="8">
                            <v-text-field label="Amount" model-value="10.00" prefix="$" variant="outlined"></v-text-field>
                        </v-col>
                    </v-row>

                    <v-row>
                        <v-col lg="4">
                            <v-list-subheader>Suffix for weight</v-list-subheader>
                        </v-col>
                        <v-col lg="8">
                            <v-text-field label="Weight" model-value="28.00" suffix="lbs" variant="outlined"></v-text-field>
                        </v-col>
                    </v-row>

                    <v-row>
                        <v-col lg="4">
                            <v-list-subheader>Suffix for email domain</v-list-subheader>
                        </v-col>
                        <v-col lg="8">
                            <v-text-field label="Email address" model-value="example" suffix="@gmail.com" variant="outlined"></v-text-field>
                        </v-col>
                    </v-row>

                    <v-row>
                        <v-col lg="4">
                            <v-list-subheader>Suffix for time zone</v-list-subheader>
                        </v-col>
                        <v-col lg="8">
                            <v-text-field label="Label Text" model-value="12:30:00" suffix="PST" type="time" variant="outlined"></v-text-field>
                        </v-col>
                    </v-row>
                </v-container>

                <v-divider></v-divider>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="success">
                        Complete Registration
                        <v-icon icon="mdi-chevron-right" end></v-icon>
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-col>
    </v-row>
</template>

<script>
export default {
    data: () => ({
        first: null,
        last: null,
        email: null,
        password: null,
        terms: false,
    }),
}
</script>
