<template>
    <v-app class="dashboard">
        <!-- Sidebar -->
        <v-navigation-drawer app v-model="drawer" scrim="false" class="primary">
            <v-list dense>
                <v-list-item class="mb-5">
                    <v-list-item-content>
                        <v-img :src="logoSrc" alt="Logo"></v-img>
                    </v-list-item-content>
                </v-list-item>

                <!-- Tombol Toggle di Sidebar -->
                <v-list-item :class="{ 'd-none': !isMobile }" @click="toggleDrawer">
                    <v-list-item-title><v-icon>mdi-chevron-left</v-icon> Hide Sidebar</v-list-item-title>
                </v-list-item>

                <v-list-subheader title="Welcome"></v-list-subheader>
                <v-list-item link @click="navigateTo('home')" :class="{ 'active': this.$route.path.split('/').pop() == 'home' }" prepend-icon="mdi-home" title="Home"></v-list-item>
                <v-list-group value="About">
                    <template v-slot:activator="{ props }">
                        <v-list-item v-bind="props" prepend-icon="mdi-account-circle" title="About"></v-list-item>
                    </template>
                    <v-list-item link @click="navigateTo('about')" :class="{ 'active': this.$route.path.split('/').pop() == 'about' }" title="Main"></v-list-item>
                    <v-list-item link @click="navigateTo('our-menu')" :class="{ 'active': this.$route.path.split('/').pop() == 'our-menu' }" title="Our Menu"></v-list-item>
                </v-list-group>

                <v-list-subheader title="Forms Input and Controls"></v-list-subheader>
                <v-list-item link @click="navigateTo('text-field')" :class="{ 'active': this.$route.path.split('/').pop() == 'text-field' }" prepend-icon="mdi-form-select" title="Text Fields"></v-list-item>
                <v-list-item link @click="navigateTo('validation')" :class="{ 'active': this.$route.path.split('/').pop() == 'validation' }" prepend-icon="mdi-check-circle-outline" title="Validation"></v-list-item>
            </v-list>
        </v-navigation-drawer>

        <!-- Header -->
        <v-app-bar app :class="{ 'app-bar-expanded': drawer, 'app-bar-collapsed': !drawer }">
            <v-app-bar-nav-icon @click="toggleDrawer"></v-app-bar-nav-icon>
            <div class="right">
                <v-icon class="me-3">mdi-translate</v-icon>
                <v-icon class="me-3">mdi-cog-outline</v-icon>
                <v-icon>mdi-bell-outline</v-icon>
                <v-menu offset-y>
                    <template v-slot:activator="{ props }">
                        <v-btn dark v-bind="props">
                            <img src="https://pyxis.nymag.com/v1/imgs/b4e/918/84752cac516a3bda3fb97360b969e9ae2c-travis-barker.rsquare.w330.jpg" alt="" />
                            Travis
                            <v-icon right>mdi-chevron-down</v-icon>
                        </v-btn>
                    </template>
                    <v-list>
                        <v-list-item @click="navigateTo('/profile')">
                            <v-list-item-title><v-icon>mdi-account-circle</v-icon> Profile</v-list-item-title>
                        </v-list-item>
                        <v-list-item @click="navigateTo('/logout')">
                            <v-list-item-title><v-icon>mdi-export</v-icon> Logout</v-list-item-title>
                        </v-list-item>
                    </v-list>
                </v-menu>
            </div>
        </v-app-bar>

        <!-- Konten Utama -->
        <v-main :class="{ 'main-expanded': drawer, 'main-collapsed': !drawer }">
            <v-container fluid>
                <router-view></router-view>
            </v-container>
        </v-main>
    </v-app>
</template>

<script>
import logo from '@/assets/logo-balistars.png';

export default {
    name: 'Dashboard',
    data() {
        return {
            logoSrc: logo,
            drawer: window.innerWidth > 1024, // Drawer ditampilkan jika lebar jendela lebih dari 1024px
            isMobile: window.innerWidth <= 600,
        };
    },
    methods: {
        toggleDrawer() {
            this.drawer = !this.drawer;
        },
        handleResize() {
            this.drawer = window.innerWidth > 1024; // Atur drawer berdasarkan lebar jendela saat ini
            this.isMobile = window.innerWidth <= 600;
        },
        navigateTo(route) {
            this.$router.push(route);
        },
    },
    mounted() {
        window.addEventListener('resize', this.handleResize);
        this.handleResize(); // Setel drawer saat komponen pertama kali dimuat
    },
    beforeDestroy() {
        window.removeEventListener('resize', this.handleResize);
    },
}
</script>

<style scoped>
.main-expanded {
    margin-left: 256px;
}

.main-collapsed {
    margin-left: 0;
}

.app-bar-expanded {
    margin-left: 256px;
    width: calc(100% - 256px) !important;
    left: 0 !important;
}

.app-bar-collapsed {
    margin-left: 0;
    width: 100%;
}
</style>