<template>
    <div class="bg-login">
        <div class='stars'></div>
        <div class='stars'></div>
        <div class='stars'></div>
        <v-container class="d-flex justify-center align-center login-section">
            <v-form class="login-form" ref="form" v-model="valid" lazy-validation>
                <v-card class="login-card">
                    <v-img class="login-img" src="https://balistars.id/wp-content/uploads/2021/05/Logo-Bali-Stars-Promosindo.jpeg"></v-img>
                    <v-card-title class="headline pa-0 pt-8 text-h6 font-weight-bold">Sign in here</v-card-title>
                    <v-card-text class="pa-0 pt-3">
                        <div class="text-subtitle-2">Username / Email address</div>
                        <v-text-field v-model="email" :rules="emailRules" prepend-inner-icon="mdi-email-outline" density="compact" placeholder="Email address" variant="outlined" required></v-text-field>
                        <div class="text-subtitle-2 d-flex align-center justify-space-between"> Password <a class="text-caption text-decoration-none" href="#" rel="noopener noreferrer" target="_blank">Forgot login password?</a>
                        </div>
                        <v-text-field v-model="password" :rules="passwordRules" prepend-inner-icon="mdi-lock-outline" :type="visible ? 'text' : 'password'" :append-inner-icon="visible ? 'mdi-eye-off' : 'mdi-eye'" density="compact" variant="outlined" placeholder="Enter your password" @click:append-inner="visible = !visible" required></v-text-field>
                    </v-card-text>
                    <v-card-actions>
                        <v-btn class="btn-login" @click="login">Login</v-btn>
                    </v-card-actions>
                    <div class="separator"><span>or</span></div>
                    <v-card-actions>
                        <v-btn class="btn-login login-socmed"><img class="login-socmed_image" src="https://cdn4.iconfinder.com/data/icons/logos-brands-7/512/google_logo-google_icongoogle-512.png">Continue With Google</v-btn>
                    </v-card-actions>
                    <v-card-actions>
                        <v-btn class="btn-login login-socmed"><img class="login-socmed_image" src="https://icon2.cleanpng.com/20180405/xaq/kisspng-social-media-facebook-like-button-youtube-computer-facebook-5ac63c069632c3.8431207615229409346152.jpg">Continue With Facebook</v-btn>
                    </v-card-actions>
                </v-card>
            </v-form>
        </v-container>
    </div>
</template>

<script>
export default {
    data() {
        return {
            visible: false,
            valid: false,
            email: '',
            password: '',
            emailRules: [
                v => !!v || 'Email is required',
                v => /.+@.+\..+/.test(v) || 'Email must be valid',
            ],
            passwordRules: [
                v => !!v || 'Password is required',
                v => v.length >= 6 || 'Password must be at least 6 characters',
            ],
        };
    },
    created() {
    },
    methods: {
        login() {
            if (this.$refs.form.validate()) {
                // Implement your login logic here, for example, making an API call.
                console.log('Email:', this.email);
                console.log('Password:', this.password);
                // Redirect to dashboard after successful login
                this.$router.push('/dashboard');
            }
        },
    },
};
</script>